html, body {
    height: 100%;
}

@media (min-width: 768px) {
    .navbar .navbar-right {
        margin-right: 0;
    }
}

.page-header {
    text-align: center;
}
.page-header h2 {
    margin: 0;
}

.tasklist.table>tbody>tr>td {
    vertical-align: middle;
}

.btnbar > a {
    margin-top: 20px;
    float: right;
}

label {
    padding-right: 10px;
}
