html, body {
    height: 100%;
}

@media (min-width: 768px) {
    .navbar .navbar-right {
        margin-right: 0;
    }
}

.container {
    margin-bottom: 50px;
}

.page-header {
    text-align: center;
}
.page-header h2 {
    margin: 0;
}

.tasklist.table>tbody>tr>td {
    vertical-align: middle;
}

.btnbar > a {
    margin-top: 20px;
    float: right;
}

label {
    padding-right: 10px;
}

.border-panel {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 5px 15px;
    margin-bottom: 20px;
}

.form-bottom-right {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}

@media (min-width: 768px) {

    .form-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.form-addtime .alert {
    margin-bottom: 0;

}